@import "colors.scss";

.nbc-container {
    color: $lightGrayColor;
    margin: 0px;
    padding: 0px;
}

.nbc-li {
    margin-left: 16px;
}

.nbc-brand-icon {
    width: 32px;
    margin-right: 8px;
}