@import "colors.scss";

.wtc-container {
    background-color: $color;
    color: $lightGrayColor;
    opacity: 0.85;
    padding: 16px;
}

.wtc-header {
    background-color: $grayColor;
    text-align: center;
}